<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

<%= link_to 'Admin Reservasi', landing_index_path, class:'navbar-brand mr-1' %>


<!-- Navbar Search -->
<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-0 my-2 my-md-0">
  
</form>

<!-- Navbar -->
<%= link_to current_user.email, edit_user_registration_path, class:'navbar-brand mr-3' %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link mr-2'  %>
</nav>

