/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 .user_card {
  height: 400px;
  width: 350px;
  margin-top: 100px;
  margin-bottom: auto;
  background-image: linear-gradient( #bdcdc4, #c3d7d9, #a5d3d4);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}

.brand_logo_container {
  height: 170px;
  width: 170px;
  top: -50px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grad {
  background-color: #B0C4DE;
}

.container-fluid-1 {
  padding-top: 80px;
}
// .container-invoice {
//   height: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }


.height {
  min-height: 200px;
}

.icon {
  font-size: 47px;
  color: #5CB85C;
}

.iconbig {
  font-size: 77px;
  color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
  border-top: none;
}

.table > thead > tr > .emptyrow {
  border-bottom: none;
}

.table > tbody > tr > .highrow {
  border-top: 3px solid;
}