<%= render partial: 'structures/navigation' %> 

<h1>New Tipepaket</h1>

<%= render 'form', tipepaket: @tipepaket %>

<%= link_to 'Back', tipepakets_path, class: 'btn btn-default btn-sm glyphicon glyphicon-menu-left' %>
